.dropdown {
  width: 100%;
  position: relative;
  height: 100%;
  margin-top: 8px;
}
.dropdown * {
  box-sizing: border-box;
}
.select {
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 0.5em;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.3s ease;
}
/* 
Clicked styles
(added later in js)
*/
.select-clicked {
  border: 2px solid #ddd;
  box-shadow: 2px 2px 2px 0px rgb(156, 60, 60);
}
.select:hover {
  background-color: rgb(251, 221, 221);
}
.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid rgb(160, 61, 61);
  transition: 0.3s;
}
/* rotate styles added later in js */
.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  height: 180px;
  overflow: auto;
  padding: 4px;
  border-radius: 12px;
  background-color: rgb(254, 208, 208);
  border: 1px solid rgb(254, 208, 208);
  box-shadow: 0 0.5em 1em rgb(254, 208, 208);
  color: rgb(126, 28, 28);
  position: absolute;
  top: 2.5em;
  width: 100%;
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 100;
}
.menu li {
  padding: 8px;
  margin: 12px;
  border-radius: 12px;
  cursor: pointer;
}

.menu li:hover {
  background-color: #fff;
}
/* Active styles (later added in js) */
.active {
  background-color: #fff;
}

/* Open styles later to be added in js */
.menu-open {
  display: block;
  opacity: 1;
}

.label {
  color: white;
  font-size: var(--text-md);
  /* line-height: 22px; */
  font-weight: 400;
}
.errorMsg {
  color: rgb(205, 22, 22);
  font-weight: 600;
  font-size: 0.875rem;
  padding-left: 3px;
  margin-top: 5px;
}
