/* Full example with updated buttonContainer positioning */
.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
}

.upperPage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-image: url(../../assets/images/pexels-thirdman-7659868.jpg);
}

.title {
  display: inline-block;
  font-size: var(--text-5xl);
  font-weight: 700;
  background: linear-gradient(to right, #9a2a60, #b9791a);
  right: 4%;
  top: 20%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  position: absolute;
}
.typed {
  font-weight: 700;
  color: var(--text-color);
  font-size: var(--text-3xl);
  white-space: nowrap;
  background-clip: inherit;
  display: inline-block;
  overflow: hidden;
  border-right: 2px solid var(--text-color);
  animation: typing 2.5s steps(30, end) forwards, blinking 2s infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking {
  0% {
    border-right-color: transparent;
  }
  100% {
    border-right-color: var(--text-color);
  }
}

.lowerPage {
  background-color: rgb(248, 207, 214);
  width: 100%;
  height: 100vh;
  overflow: auto;
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  height: 100px;
}

.heading {
  margin-left: 22px;
  margin-top: 12px;
  font-size: var(--text-3xl);
  color: var(--text-color);
}

.formContainer {
  flex: 1;
  overflow-y: auto;
  padding: 30px;
  padding-bottom: 23px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 100%;
}

.box {
  width: 450px;
  margin: auto;
  background-color: rgb(216, 117, 134);
  color: #fff;
  height: 240px;
  border-radius: 12px;
  padding: 24px;
  overflow: hidden;
  box-shadow: 4px 4px 2px 2px rgb(165, 161, 161);
}

.content {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inlineText p {
  display: inline;
}

.buttonContainer {
  background-color: transparent;
  display: flex;
  gap: 21px;
  margin-top: 12px;
}

.description {
  height: 75px; 
  width: 100%; 
  display: -webkit-box; /* Use a flexbox container */
  -webkit-box-orient: vertical; /* Set the orientation to vertical */
  -webkit-line-clamp: 3; /* Number of lines before showing ellipsis */
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}

.inactiveButton {
  width: 80px;
  height: 35px;
  background-color: #eee;
  color: black;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  transition: 0.1s ease-in-out;
}
.inactiveButton:hover {
  background-color: rgb(179, 97, 111);
  color: white;
}

.submitButton {
  width: 120px;
  height: 35px;
  background-color: #eee;
  color: black;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  transition: 0.1s ease-in-out;
}
.submitButton:hover {
  background-color: rgb(179, 97, 111);
  color: white;
}

@media screen and (max-width: 1250px) {
  .title {
    font-size: var(--text-3xl);
    right: 0%;
    top: 30%;
    width: 400px;
    position: absolute;
  }
  .typed {
    font-size: var(--text-2xl);
    width: 100%;
    overflow: hidden;
    word-break: normal;
  }
}
