.page {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 150px;
  background-color: rgb(253, 176, 176);
  gap: 23px;
}
.heading {
  color: rgb(249, 246, 246);
}
/* .heading {
  background: linear-gradient(to right, #9a2a60, #b9791a);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: var(--text-3xl);
  font-weight: 700;
} */
.innerForm {
  background-color: rgb(226, 166, 166);
  padding: 18px;
  border-radius: 12px;
}
.customInputGroup {
  max-width: 100%;
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: white;
}
.input {
  padding: 4px 10px;
}

.addLink {
  cursor: pointer;
  color: rgb(61, 61, 195);
  font-weight: 600;
}

.questionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

