.question {
  background-color: rgb(226, 166, 166);
  padding: 18px;
  border-radius: 12px;
}
.questionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.customInputGroup {
  max-width: 100%;
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.input {
  padding: 4px 10px;
  color: #000;
}
.label {
  color: #fff;
}
.addLink {
  cursor: pointer;
  color: rgb(61, 61, 195);
  font-weight: 600;
}
.errorMsg {
  color: rgb(205, 22, 22);
  font-weight: 600;
  font-size: 0.875rem;
  padding-left: 3px;
  margin-top: 8px;
}
.deleteLink {
  cursor: pointer;
  color: rgb(183, 29, 29);
  font-weight: 600;
}

.option{
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin: 12px;
}
.addOption{
  cursor: pointer;
  color: white;
  font-weight: 700;
  word-spacing: 3px;
}
.required {
  margin-top: 23px;
}
